{% load static %} 
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <img src="{% static 'img/logo-iscae.png' %}" alt="">
          </a>
          <p>L’Institut Supérieur de Comptabilité et d’Administration des Entreprises</p>
         
        </div>

      
       

      </div>
    </div>

    <div class="container mt-4">
      <footer class="footer footer-static footer-transparent">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright  &copy; <script>
            document.write(new Date().getFullYear())
            </script> <a class="text-bold-800 grey darken-2" href="https://themeselection.com/" target="_blank"></a> ISCAE ,Tous droits reserves </span><span class="float-md-right d-block d-md-inline-blockd-none d-lg-block"> <i class="ft-heart pink"></i></span></p>
      </footer>
    
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->